<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBooking"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.ViewAllReservation_AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.InsertReservationActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.RoomDelailsUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.RoomDelailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UpadteRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.UpadteHotelActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ViewRoomUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ViewRoomAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AddHotelActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="false" />
    </application>

</manifest>